@charset "UTF-8";
@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: normal;
    src : url('../fonts/D2Coding.woff2') format('woff2');
}

@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: bold;
    src : url('../fonts/D2CodingBold.woff2') format('woff2')
}

:root, html, html *, body, body * {
    font-family: 'D2Coding', monospace;
}
